<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>소셜 로그인</title>
  </head>
  <body>
    <a href='http://localhost:3000/auth/oauth/to-kakao'>카카오 로그인</a>
    <br />
    <a href='http://localhost:3000/auth/test-guard'>로그인 확인</a>
    <br />
    <br />
    <br />
    메시지:
    {{message}}
    <br />
    serviceURL:
    {{serviceUrl}}
    <br />
    로그레벨 :
    {{logLevel}}
    <br />
    api버전 :
    {{apiVersion}}
    <br />
    dbUrl :
    {{dbInfo}}
  </body>
</html>